body{
    margin: 0;
}

/*p {
    text-align: center;
    font-size:15px;
    color: rgb(128,255,10);
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    margin: 0;
    width: 400px;
    
}

.p1 {
    width: 100px;
    text-align: center;
    color: yellow;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    border-left: 10px solid orange;
    border-right: 10px solid green;
    border-top: 10px solid red;
    border-bottom: 10px solid brown;
    box-sizing: border-box;
    padding: 50px 10px 30px;
    margin: 10px 10px 15px 25px;

}
*/
.p2 {
    width: 600px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: ser;
}
.caixa1{
    position: relative;
    left: 600px;
    top: 200px;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}
.caixa2{
    position:relative;
    left: -50px;
    top: -50px;
    width: 150px;
    height: 150px;
    background-color: chartreuse;
}

.caixa3{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.caixa4{
    position: absolute;
    top:0;
    right:0;
    width: 200px;
    height: 200px;
    background-color: rgb(167, 37, 37);
}